.navWrapper {
  height: 17.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navWrapper > img {
  padding-left: 16.5rem;
}
.navItemsWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  background: var(--red);
}
.navItemContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  color: var(--white);
}
.navItemContainer > li {
  cursor: pointer;
  transition: font-weight ease-in-out 150ms;
}
.navItemContainer > li:hover {
  font-weight: 600;
}

.navWrapper > button {
  display: none;
}

@media (max-width: 1360px) {
  .navWrapper {
    height: 16rem;
  }
}

@media (max-width: 768px) {
  .navWrapper > img {
    padding-left: 3.9rem;
  }
  .navItemsWrapper {
    width: 64%;
  }
}
@media (max-width: 500px) {
  .navWrapper {
    height: 12rem;
    padding: 0 2.4rem;
    position: relative;
  }
  .navItemsWrapper {
    background: var(--black);
    flex-direction: column;
    position: absolute;
    height: auto;
    padding: 3.2rem 0;
    top: 100%;
    right: 2.4rem;
    gap: 3.4rem;
    transition: opacity ease-in-out 150ms;
  }
  .navItemsOpened {
    opacity: 1;
  }
  .navItemsClosed {
    opacity: 0;
  }
  .navWrapper > img {
    padding: 0;
  }
  .navWrapper > button {
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 999px;
    outline: none;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navItemContainer {
    flex-direction: column;
    gap: 3.4rem;
  }
}
