:root {
  --red: hsl(0, 93%, 64%);
  --black: hsl(240, 14%, 11%);
  --white: hsl(0, 0%, 100%);
  --text-black: hsl(0, 0%, 0%);
}

.commissioner {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.extrabold {
  font-weight: 800;
}
.bold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}
