:root {
  --red: hsl(0, 93%, 64%);
  --black: hsl(240, 14%, 11%);
  --white: hsl(0, 0%, 100%);
  --text-black: hsl(0, 0%, 0%);
}

.commissioner {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.extrabold {
  font-weight: 800;
}
.bold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}

.h1-lineheight {
  line-height: 1.1;
}

.p-lineheight {
  line-height: 1.77;
}

.slider-arrow-btn {
  background: none;
  text-decoration: none;
  outline: none;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  cursor: pointer;
}

.slider-arrow-btn:hover > svg > g {
  stroke: #ff9393;
  transition: stroke ease-in-out 200ms;
}
